@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-oswald: "Oswald", sans-serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html {
  scroll-behavior: smooth;
}
